@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Rubik', sans-serif !important;
}

.ant-btn-primary {
    background: #2563eb;
}

.forgout-password {
    display: block;
    text-align: center;
    margin: 15px auto 5px auto;
}